@model Eksamen2025Gruppe5.Models.PollenRegistrering
@{
    ViewData["Title"] = "Opprett pollenregistrering";
}

<h1>Opprett pollenregistrering</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Dato" class="control-label">Dato</label>
        <input asp-for="Dato" class="form-control" type="datetime-local" />
        <span asp-validation-for="Dato" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Område" class="control-label">Område</label>
        <input asp-for="Område" class="form-control" />
        <span asp-validation-for="Område" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nivå" class="control-label">Nivå</label>
        <input asp-for="Nivå" class="form-control" />
        <span asp-validation-for="Nivå" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Lagre</button>
    <a asp-action="Index" class="btn btn-secondary">Tilbake til liste</a>
</form>
