@model Eksamen2025Gruppe5.Models.PollenRegistrering
@{
    ViewData["Title"] = "Slett pollenregistrering";
}

<h1>Slett pollenregistrering</h1>
<h4>Er du sikker på at du vil slette denne registreringen?</h4>
<div>
    <dl class="row">
        <dt class="col-sm-2">Dato</dt>
        <dd class="col-sm-10">@Model.Dato.ToShortDateString()</dd>
        <dt class="col-sm-2">Område</dt>
        <dd class="col-sm-10">@Model.Område</dd>
        <dt class="col-sm-2">Nivå</dt>
        <dd class="col-sm-10">@Model.Nivå</dd>
    </dl>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Slett</button>
    <a asp-action="Index" class="btn btn-secondary">Avbryt</a>
</form>
