@model Eksamen2025Gruppe5.Models.PollenRegistrering
@{
    ViewData["Title"] = "Detaljer";
}

<h1>Detaljer</h1>
<div>
    <dl class="row">
        <dt class="col-sm-2">Dato</dt>
        <dd class="col-sm-10">@Model.Dato.ToShortDateString()</dd>
        <dt class="col-sm-2">Omr책de</dt>
        <dd class="col-sm-10">@Model.Omr책de</dd>
        <dt class="col-sm-2">Niv책</dt>
        <dd class="col-sm-10">@Model.Niv책</dd>
    </dl>
</div>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Rediger</a>
<a asp-action="Index" class="btn btn-secondary">Tilbake til liste</a>
